extends layout 

block content 
  div.py-5 
    
   
    div.container.px-5
      div.d-flex.mb-5
        img.image.image-detail(src=game.img_src===undefined ? '/images/nocover.jpg' : game.img_url )
        div.ms-5
          h1.text-capitalize.mb-5 #{title}
          p=game.summary
      div.d-flex.justify-content-between.mb-4.border-bottom
        div
          p.d-flex.flex-gap-1.align-items-center.text-capitalize Publisher: #[a.fw-semibold(href=game.publisher.url) #{game.publisher.name}]
          p.d-flex.flex-gap-1.align-items-center Price:  #[span.fw-semibold #{game.price}$]
        div
          p.d-flex.flex-gap-1.align-items-center Released year: #[span.fw-semibold #{game.year}]
          p.d-flex.flex-gap-1 Number Stock: #[span.fw-semibold #{game.number_in_stock}]

      div.border-bottom.mb-3.text-capitalize
        div.d-flex.flex-gap-1.mb-4.align-items-center
          | Platforms:
          each platform in game.platform 
            a.fw-semibold(href=platform.url) #{platform.name}
        div.d-flex.flex-gap-1.mb-4.align-items-center
          | Genre: 
          each genre in game.genre 
            a.fw-semibold(href=genre.url) #{genre.name}
     
      div.d-flex.flex-gap-1.justify-content-center
        a.btn.btn-light.fs-5.fw-semibold.text-uppercase(href=game.url + "/update") Update Game 
        a.btn.btn-danger.fs-5.fw-semibold.text-uppercase(href=game.url + "/delete") Delete Game    
    

