extends layout 

block content 
  div.container.px-5.py-5
    
    div.d-flex.justify-content-between.align-items-center.mb-5
      h1.text-capitalize #{title}
      div.d-flex.flex-gap-1.justify-content-center
        a.btn.btn-light.fs-5.fw-semibold.text-uppercase(href=genre.url + "/update") Update  
        a.btn.btn-danger.fs-5.fw-semibold.text-uppercase(href=genre.url + "/delete") Delete

    if games.length 
      ul.container 
        h3.fs-4.text-capitalize.mb-3 Genre Games: 
        each game in games 
          li.fw-semibold.px-3.d-flex.justify-content-between.mb-3
            a.fs-3.text-capitalize(href=game.url) #{game.title}  
    else 
      p.text-center #[em There are not games on this genre]    